.sidenav {
    width: 20%;
    box-sizing: initial;
    background-color: white;
    border-color: white;
}

.sidenav-header {
    background-color: white;
    border-color: white;
}

.sidenav-content {
    /* background-color: white;
    border-color: white; */
}

.toolbar-app {
    background-color: white;
}