.sidenav {
    width: 20%;
    box-sizing: none;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.sidenav-header {
    background-color: #eeeeee;
    /* border-color: #eeeeee;  */
}

.sidenav-content {
    /* background-color: white;
    border-color: white; */
}

.toolbar-app {
    background-color: white;
}